@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/fundo.png);
}

.relogio {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 1100px;
    background-color: transparent;
    border-radius: 50px;
    align-items: center;
    border: 2px solid rgb(145, 165, 196);
}

.relogio > div {
    color: white;
    background-color: rgb(145, 165, 196);
    height: 300px;
    width: 300px;
    border-radius: 40px;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 120px;
}

span.tempo {
    margin: 0;
    font-size: 32px;
    letter-spacing: 2px;
}
